@font-face {
  font-family: "Libre Franklin";
  font-weight: 300;
  src: url("/LibreFranklin-Light.ttf");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  src: url("/LibreFranklin-Regular.ttf");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  src: url("/LibreFranklin-Medium.ttf");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  src: url("/LibreFranklin-SemiBold.ttf");
}
